:root {
    /* sector colors */
    --clr-red: red;
    --clr-blue: blue;
    --clr-green: green;
    --clr-orange: orange;
    --clr-yellow: yellow;
    --clr-black: black;
    --clr-pink: pink;
    --clr-lightgray: lightgray;
    --clr-purple: purple;
    --clr-darkorange: orangered;
    --clr-darkred: darkred;
    --clr-darkblue: darkblue;
    --clr-lightgreen: lightgreen;
    --clr-salmon: salmon;
    --clr-brown: brown;

    /* txt-colors */
    --clr-txt-dark: #222;
    --clr-txt-light: #eee;

    --wheel-size: clamp(350px, 35vw, 960px);
    --wheel-sector-inline-size: 50%;
    --wheel-sector-block-size: 20%;
    --wheel-sector-shape: polygon(0 0, 0% 100%, 100% 50%);

    --spin-btn-border-clr: var(--clr-black);
    --spin-btn-bg-clr: var(--clr-brown);
    --spin-btn-txt-clr: var(--clr-txt-light);
}

.app-wrapper {
    margin-block: 3rem;
    margin-inline: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel-container-outer {
    position: relative;
    inline-size: var(--wheel-size);
    border-radius: 50%;
    border: clamp(3px, 1vw, 6px) solid rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
}

.wheel-container-outer::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: clamp(-1.5px, -1vw, -3px);
    left: 50%;
    translate: -50% 0;
    inline-size: 0;
    block-size: 0;
    border: 15px solid transparent;
    border-bottom: none;
    border-top-width: 30px;
    border-top-color: rgba(0, 0, 0, 1);
    z-index: 1;
}

.wheel-container-inner {
    position: relative;
    inline-size: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 1);
    transform-origin: center center;
}

.wheel-sector {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    translate: -50% -50%;
    inline-size: var(--wheel-sector-inline-size);
    block-size: var(--wheel-sector-block-size);
    padding: 15px 35px;
    clip-path: var(--wheel-sector-shape);
    color: var(--clr-txt-dark);
    font-weight: 600;
    font-size: clamp(.65rem, 1vw, 1.2rem);
    -webkit-user-select: none;
    user-select: none;
}

.wheel-sector.clr-red {
    background-color: var(--clr-red);
    top: 24.5%;
    left: 50%;
    rotate: z 90deg;
}

.wheel-sector.clr-blue {
    background-color: var(--clr-blue);
    color: var(--clr-txt-light);
    top: 27.15%;
    left: 60.9%;
    rotate: z 115.75deg;
}

.wheel-sector.clr-green {
    background-color: var(--clr-green);
    top: 34.35%;
    left: 69.5%;
    rotate: z 141.75deg;
}

.wheel-sector.clr-yellow {
    background-color: var(--clr-yellow);
    top: 44.35%;
    left: 74.25%;
    rotate: z 167.5deg;
}

.wheel-sector.clr-pink {
    background-color: var(--clr-pink);
    top: 55.5%;
    left: 74.35%;
    rotate: z 193.15deg;
}

.wheel-sector.clr-lightgray {
    background-color: var(--clr-lightgray);
    top: 65.75%;
    left: 69.75%;
    rotate: z 218.55deg;
}

.wheel-sector.clr-purple {
    background-color: var(--clr-purple);
    color: var(--clr-txt-light);
    top: 72.55%;
    left: 60.85%;
    rotate: z 243.95deg;
}

.wheel-sector.clr-darkorange {
    background-color: var(--clr-darkorange);
    top: 75%;
    left: 50%;
    rotate: z 270deg;
}

.wheel-sector.clr-lightgreen {
    background-color: var(--clr-lightgreen);
    top: 72.5%;
    left: 39.3%;
    rotate: z 295.75deg;
}

.wheel-sector.clr-darkred {
    background-color: var(--clr-darkred);
    color: var(--clr-txt-light);
    top: 65.5%;
    left: 30.3%;
    rotate: z 321.35deg;
}

.wheel-sector.clr-darkblue {
    background-color: var(--clr-darkblue);
    color: var(--clr-txt-light);
    top: 55.25%;
    left: 25.35%;
    rotate: z 346.85deg;
}

.wheel-sector.clr-black {
    background-color: var(--clr-black);
    color: var(--clr-txt-light);
    top: 44.15%;
    left: 25.3%;
    rotate: z 372.5deg;
}

.wheel-sector.clr-orange {
    background-color: var(--clr-orange);
    top: 27%;
    left: 39.3%;
    rotate: z 424deg;
}

.wheel-sector.clr-salmon {
    background-color: var(--clr-salmon);
    top: 33.9%;
    left: 30.25%;
    rotate: z 398.35deg;
}

.wheel-sector:is(
    [data-value="freeSpins"],
    [data-value="looseAll"]
) {
    font-size: clamp(.75rem, 1.5vw, 1.5rem);
    text-transform: uppercase;
}

.wheel-sector-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    inline-size: 100%;
    block-size: 100%;
    background-color: rgba(255, 255, 255, .5);
    opacity: 0;
    transition: opacity .1s ease-in-out;
}

.wheel-sector:hover .wheel-sector-overlay {
    opacity: 1;
}

.wheel-sector-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.wheel-sector:not(:is(
    [data-value="freeSpins"],
    [data-value="looseAll"]
)) .wheel-sector-content {
    max-inline-size: 50px;
    inline-size: 3vw;
    min-inline-size: 25px;
    aspect-ratio: 1 / 1;
    rotate: z -90deg;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    padding: clamp(2px, 2vw, 5px);
    margin-inline-start: 10%;
}

.wheel-sector:is(
    .clr-blue,
    .clr-purple,
    .clr-darkblue,
    .clr-darkred,
) .wheel-sector-content {
    border-color: var(--clr-txt-light);
}

.wheel-sector:is(
    .clr-red,
    .clr-green,
    .clr-orange,
    .clr-lightgray,
    .clr-lightgreen,
    .clr-yellow,
    .clr-pink,
    .clr-ivory,
) .wheel-sector-content {
    border-color: var(--clr-txt-dark);
}

.wheel-start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    inline-size: 10%;
    aspect-ratio: 1 / 1;
    padding: clamp(5px, 5vw, 15px);
    border-radius: 50%;
    border: 2px solid var(--spin-btn-border-clr);
    background-color: var(--spin-btn-bg-clr);
    color: var(--spin-btn-txt-clr);
    box-shadow: 
        0 0 15px rgba(0, 0, 0, .7),
        inset 0 0 15px rgba(255, 255, 255, .7);
    font-size: clamp(.65rem, 1.5vw, 1.5rem);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.wheel-start-btn:hover {
    scale: 1.1;
}

.wheel-start-btn:is(:focus, :focus-visible, :focus-within) {
    outline: 3px solid rgba(255, 255, 255, 1);
}

.wheel-start-btn:is(:disabled, [disabled]) {
    --spin-btn-bg-clr: rgb(102, 6, 6);
    --spin-btn-txt-clr: #cfcfcf;
}