:root {
    /* sector colors */
    --clr-red: rgb(255, 0, 0);
    --clr-blue: rgb(0, 0, 255);
    --clr-green: rgb(0, 128, 0);
    --clr-orange: rgb(255, 165, 0);
    --clr-yellow: rgb(255, 255, 0);
    --clr-black: rgb(0, 0, 0);
    --clr-pink: rgb(255, 192, 203);
    --clr-lightgray: rgb(211, 211, 211);
    --clr-purple: rgb(128, 0, 128);
    --clr-darkorange: rgb(255, 69, 0);
    --clr-darkred: rgb(139, 0, 0);
    --clr-darkblue: rgb(0, 0, 139);
    --clr-lightgreen: rgb(144, 238, 144);
    --clr-salmon: rgb(250, 128, 114);
    --clr-brown: rgb(165, 42, 42);
    --clr-cyanblue: #00beac;

    /* txt-colors */
    --clr-txt-dark: rgb(34, 34, 34);
    --clr-txt-light: rgb(238, 238, 238);

    --wheel-size: clamp(350px, 35vw, 760px);
    --wheel-bg-clr: rgba(51, 51, 51, 1);
    --wheel-border-width: clamp(3px, 1vw, 6px);
    --wheel-border-clr: rgba(51, 51, 51, 1);
    --wheel-box-shadow-width: clamp(4px, 4vw, 8px);
    --wheel-box-shadow-clr: rgba(255, 255, 255, 1);

    --sector-shape: polygon(0 0, 0% 100%, 100% 50%);
    --sector-inline-size: 50%;
    --sector-block-size: 20%;

    --sector-content-font-weight: 600;
    --sector-content-font-size: max(.55rem, 1.2vw);
    --sector-content-text-align: center;
    --sector-content-vertical-align: middle;

    --wheel-arrow-height: 30px;
    --wheel-arrow-base: calc(var(--wheel-arrow-height) / 2);

    --spin-btn-font-size: max(.65rem, 1.5vw);
    --spin-btn-padding: clamp(3px, 5vw, 12px);
    --spin-btn-border-clr: rgba(255, 255, 255, 1);
    --spin-btn-border-width: clamp(1px, 2vw, 2px);
    --spin-btn-box-shadow-clr: rgba(0, 0, 0, .35);
    --spin-btn-box-shadow-width: clamp(2px, 3vw, 5px);
    --spin-btn-bg-clr: var(--clr-brown);
    --spin-btn-txt-clr: var(--clr-txt-light);
}

body {
    min-block-size: 100vh;
    background-color: var(--clr-cyanblue);
}

/* App wrapper */

.app-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(3rem, 30vw, 5rem);
    background-color: rgba(255, 255, 255, 0);
}

/* Wheel container */

.wheel-container-outer {
    position: relative;
    inline-size: var(--wheel-size);
    border-radius: 50%;
    border: var(--wheel-border-width) solid var(--wheel-border-clr);
    box-shadow: 0 0 0 var(--wheel-box-shadow-width) var(--wheel-box-shadow-clr);
    background-color: var(--wheel-bg-clr);
}

/* Sector pointer */

.wheel-container-outer::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: calc((var(--wheel-arrow-height) * -1) - var(--wheel-border-width));
    left: 50%;
    translate: -50% 0;
/* 
    top: 50%;
    right: calc((var(--wheel-arrow-height) * -1) - var(--wheel-border-width));
    translate: -50% -50%; 
*/
    inline-size: 0;
    block-size: 0;
    border: var(--wheel-arrow-base) solid transparent;
    border-bottom: none;
    border-top-width: var(--wheel-arrow-height);
    border-top-color: var(--clr-black);
/* 
    border-left: none;
    border-right-width: var(--wheel-arrow-height);
    border-right-color: var(--clr-black); 
*/
    z-index: 1;
}

/* Sectors container */

.wheel-container-inner {
    position: relative;
    inline-size: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgba(51, 51, 51, 1);
    transform-origin: center center;
    overflow: hidden;
}

/* Sector */

.wheel-sector {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: var(--sector-offset-y);
    left: var(--sector-offset-x);
    rotate: z var(--sector-rotate);
    translate: -50% -50%;
    transform-origin: center center;
    inline-size: var(--sector-inline-size);
    block-size: var(--sector-block-size);
    padding: 15px 35px;
    clip-path: var(--sector-shape);
    background-color: var(--sector-bg-clr);
    -webkit-user-select: none;
    user-select: none;
}

.wheel-sector:is(
    [data-value="freeSpins"],
    [data-value="looseAll"]
) {
    font-size: clamp(.75rem, 1.5vw, 1.5rem);
    text-transform: uppercase;
}

/* Sector overlay */

.wheel-sector-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    inline-size: 100%;
    block-size: 100%;
    background-color: rgba(255, 255, 255, .5);
    opacity: 0;
    transition: opacity .1s ease-in-out;
}

.wheel-sector:hover .wheel-sector-overlay {
    opacity: 1;
}

/* Sector content */

.wheel-sector-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--sector-txt-clr);
    font-weight: var(--sector-content-font-weight);
    font-size: var(--sector-content-font-size);
    text-align: var(--sector-content-text-align);
    vertical-align: var(--sector-content-vertical-align);
}

.wheel-sector:not(:is(
    [data-value="freeSpins"],
)) .wheel-sector-content {
    max-inline-size: 50px;
    inline-size: 3vw;
    min-inline-size: 25px;
    aspect-ratio: 1 / 1;
    rotate: z -90deg;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: currentColor;
    padding: clamp(2px, 2vw, 5px);
    margin-block: auto;
}

/* .wheel-sector:is(
    [data-value="freeSpins"],
) .wheel-sector-content { } */

/* Spin button */

.wheel-start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    inline-size: 10%;
    aspect-ratio: 1 / 1;
    padding: var(--spin-btn-padding);
    border-radius: 50%;
    background-color: var(--spin-btn-bg-clr);
    color: var(--spin-btn-txt-clr);
    box-shadow: 
        0 0 0 var(--spin-btn-box-shadow-width) var(--spin-btn-box-shadow-clr),
        inset 0 0 15px rgba(255, 255, 255, .7);
    font-size: var(--spin-btn-font-size);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.wheel-start-btn:not(:is(
    :disabled, 
    [disabled])
):hover {
    scale: 1.05;
}

.wheel-start-btn:is(
    :active, 
    :focus, 
    :focus-visible, 
    :focus-within
) {
    outline: 3px solid rgba(255, 255, 255, 1);
}

.wheel-start-btn:is(
    :disabled, 
    [disabled]
) {
    --spin-btn-bg-clr: rgb(102, 6, 6);
    --spin-btn-txt-clr: #cfcfcf;
}

/* Spin button animation */

